build
coverage[toml]
coveralls
flake8
flake8-annotations
flake8-bugbear
flake8-class-attributes-order
flake8-comprehensions
flake8-html
flake8-unused-arguments
pytest < 8.0.0
pytest-lazy-fixture
pytest-sugar
pytest-clarity
toml
tomli
twine
