build
coverage[toml]
coveralls
flake8
flake8-annotations
flake8-bugbear
flake8-class-attributes-order
flake8-comprehensions
flake8-html
flake8-unused-arguments
pytest
pytest-datafiles==2.0.1
pytest-lazy-fixture
pytest-sugar
pytest-clarity
toml
tomli
twine